---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fun Money</title>
  </head>
  <body>
    <h1>Fun Money</h1>
    <p>When you think about money as fun, everything changes.</p>
  </body>
</html>
